# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json

# Logs
*.log

# Ambientes
.env
.env.*
!.env.example

# Python
venv/
.venv/
__pycache__/
*.pyc

# Node.js
node_modules/
dist/

# Prisma
backend/generated/

# TypeScript
*.tsbuildinfo